.tekitizy-carroussel {
  position:fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
}

.tekitizy-carroussel.tekitizy-carroussel-open {
  display: block;
}

.tekitizy-carroussel.tekitizy-carroussel-closed {
  display: none;
}

.tekitizy-container{
  display: inline-block;
  position: relative;
}

.tekitizy-button {
  position: fixed;
  width: 50px;
  height: 50px;
  font-size:50px;
  color: white;
}

.tekitizy-button:hover {
  color: grey;
}

.tekitizy-open-btn {
  position: absolute;
  right: 5px;
  bottom: 5px;
  color: white;
}

.tekitizy-open-btn:hover {
  cursor: pointer;
  color: #CCC;
}

.tekitizy-close-btn {
  top: 3%;
  left: 95%;
}

.tekitizy-next-btn {
  top: 45%;
  left: 90%;
}

.tekitizy-prev-btn {
  top: 45%;
  left: 10%;
}

.tekitizy-play-btn {
  top: 75%;
  left: 54%;
  font-size:70px;
}

.tekitizy-pause-btn {
  top: 75%;
  left: 41.5%;
  font-size:70px;
}
.tekitizy-image-slider {
  width: 70%;
  height: 70%;
  overflow: hidden;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
}
.tekitizy-list-container {
  position: absolute;
  height: 100%;
  left: 0;
  right: 0;
}
.tekitizy-image-container {
  height: 100%;
  width:inherit;
  position: absolute;
  text-align: center;
}
.tekitizy-image-content {
    max-height: 100%;
    max-width: 100%;
}

.tekitizy-image-title {
  max-height: 20%;
  width: 100%;
  color: white;
  position: fixed;
  text-align: center;
  top: 71%;
  left: 0;
}

.tekitizy-thumbnail {
  width: 470px;
  height: 100px;
  overflow: hidden;
  position: absolute;
  padding: 5px;
  bottom: 10px;
  right: 50px;
  border: 1px solid #fff;
}

.thumbnail-list-container {
  position: absolute;
  height: 100px;
}
.tekitizy-thumbnail-image-container {
  text-align: center;
  width: 150px;
  display: inline-block;
  height: 100px;
  margin-right: 10px;
}

.tekitizy-thumbnail-image-content {
  opacity: 0.5;
  max-height: 100%;
}

.tekitizy-thumbnail-image-content:hover {
  opacity: 1;
}

.tekitizy-chevron-right{
  height: 100px;
  line-height: 100px;
  white-space: nowrap;
  position: absolute;
  right: 4px;
  font-size: 30px;
  color: white;
  opacity: 1;
  cursor: pointer;
}
.tekitizy-chevron-left{
  height: 100px;
  line-height: 100px;
  white-space: nowrap;
  position: absolute;
  left: 4px;
  font-size: 30px;
  color: white;
  opacity: 1;
  cursor: pointer;
}

.tekitizy-thumbnail:hover ~ .tekitizy-chevron-left {
  display: block;
}
