.tekitizy-carroussel {
  position:fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
}

.tekitizy-carroussel.tekitizy-carroussel-open {
  display: block;
}

.tekitizy-button {
  position: fixed;
  width: 50px;
  height: 50px;
}

.tekitizy-open-btn {

}

.tekitizy-close-btn {
  top: 3%;
  left: 95%;
}

.tekitizy-next-btn {
  top: 45%;
  left: 90%;
}

.tekitizy-prev-btn {
  top: 45%;
  left: 10%;
}

.tekitizy-play-btn {
  top: 87%;
  left: 54%;
}

.tekitizy-pause-btn {
  top: 87%;
  left: 43%;
}

.tekitizy-image-container {
  width: 70%;
  height: 100%;
  margin: auto;
  margin-top: 6%;
  text-align: center;
  overflow: hidden;
}

.tekitizy-image-content {
  height: 70%;
}

.tekitizy-image-slide {
  position: fixed;
  height: 70%;
  display: none;
}

.tekitizy-image-title {
  max-height: 20%;
  color: white;
}
